@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
}

/* Share releted style */
.btn-primary {
    border-radius: 8px;
    background: #E55473;
    padding: 14px 15px;
    color: #FFFFFF;
    border: none;
    font-size: 20px;
}

/* header releted style */
header {
    background: #E554731A;
}

.banner-container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    padding-top: 10px;
}

.banner {
    display: flex;
    align-items: center;

}

.banner h1 {
    color: rgb(39, 39, 39);
    font-size: 60px;
    font-weight: 800;
}

.banner p {
    color: #27272799;
    font-size: 18px;
}

.banner-text-section * {
    max-width: 531px;
    margin-bottom: 25px;
}

.banner-container img {
    width: 100%;
    vertical-align: middle;
}

/* future releted style */

.future-container {
    width: 75%;
    max-width: 1440px;
    margin: 133px auto 96px auto;
}

.future-section-header {
    text-align: center;
    width: 445px;
    margin: 0 auto;
    margin-bottom: 48px;

}

.future-section-header h1 {
    color: #272727;
    font-size: 40px;
}

.future-section-header p {
    color: #27272799;
    font-size: 13px;
    margin-top: 22px;
}

.future-images-container {
    display: flex;
    gap: 20px;
    justify-content: space-between;
    align-items: end;
}

.future-images1 {
    border-radius: 300px 300px 0px 0px;
    background: #A7216226;
    padding: 50px 20px 0px 20px;
    height: 435px;
    width: 320px;
    display: flex;
}

.future-images1 img {
    width: 100%;
}

.flower p {
    color: rgb(39, 39, 39);
    font-size: 18px;
    font-weight: 700;
    text-align: center;
    text-decoration-line: underline;
    margin-top: 30px;
}

/* Support releted style */
.support-container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.support-container>div {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    padding: 50px 100px;
}

.Support-container-section {
    display: flex;
    justify-content: space-between;
    text-align: center;
}

/* Offer releted style */
.offer-container {
    background: #E554730D;
    border-radius: 8px;
    padding: 100px 0px;
}

.offer-section {
    display: flex;
    max-width: 1440px;
    width: 75%;
    margin: 0 auto;
    justify-content: space-around;
    align-items: center;
}

.offer-hot-deal {
    max-width: 435px;
}

.offer-hot-deal h3 {
    font-size: 30px;
    font-weight: 800;
    color: #272727;
    text-align: center;
}

.offer-hot-deal p {
    color: rgba(39, 39, 39, 0.6);
    font-weight: 400;
    text-align: center;
    margin: 24px 0px;
}

.offer-image {
    width: 318px;
}

.btn {
    text-align: center;
}

/* Instagram releted style */
.instagram-container {
    width: 75%;
    max-width: 1440px;
    margin: 128px auto;
}

.instagram-text-section {
    text-align: center;
    width: 446px;
    margin: auto;

}

.instagram-text-section h3 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.instagram-text-section p {
    color: #27272799;
    margin: 24px 0px 24px 0px;
}

.intragram-images-section {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

.intragram-flower-image img {
    width: 100%;
}

/* Subcribe releted style */
.subcribe-container {
    width: 75%;
    max-width: 1440px;
    margin: 0 auto;
    margin-bottom: 128px;
}

.subcribe-images {
    background-image: url("../FlowerAsset/Rectangle9.png");
    padding: 110px 0px;
    border-radius: 10px;
}

.subcribe-text {
    text-align: center;
    width: 446px;
    margin: auto;

}

.subcribe-text h3 {
    color: #272727;
    font-size: 30px;
    font-weight: 800;
}

.subcribe-text p {
    color: #27272799;
    margin: 16px 0px 48px 0px;

}

.subcribe-images form {
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    gap: 10px;
}

.subcribe-images form input {
    flex-grow: 1;
    border-radius: 8px;
    border: none;
    padding: 0 10px;
    outline: none;
}

/* footer releted style */
footer {
    background: #111010;
}

.footer-container {
    padding: 128px 0;
    max-width: 470px;
    text-align: center;
    margin: 0 auto;
}

span {
    color: #E55473;
}

.footer-container h3 {
    font-size: 38px;
    font-weight: 800;
    color: #FFFFFF;
}

.footer-container > p {
    color: #FFFFFFE6;
    margin: 24px 0px 32px 0px;
}

.copyright-flower-shop {
    color: #FFFFFF66;
}
